<h1><%= @merchant.name %> Bulk Discounts </h1>

<ul>
  <% @merchant.discounts.each do |discount| %>
    <div id="discount-<%=discount.id%>">
      <li><%=link_to "#{discount.percentage}% off #{discount.threshold} items", merchant_discount_path(@merchant, discount) %></li>
    </div>
  <%end%>
</ul>
